<%- include('../header.ejs') %>
    <div class="container d-flex flex-column justify-content-center align-items-center" style="min-height: 100vh;">
   
    <h1 class="my-5">Update infos:</h1>

    <% if (success == 1) { %>
        <p style="font-weight: bold;">DATA UPDATED !</p>
    <% } %>

    <% if (success === 0) { %>
        <p style="font-weight: bold;">ERROR!</p>
    <% } %>
  
    <form method="POST" action="/personne/<%= name %>" class="d-flex flex-column justify-content-center"  style="min-width: 400px;">
        <input class="form-control" type="text" name="username" placeholder="Nom.." value="<%= name %>" />
        <select  class="form-control" name="genre" id="gender">
            <option disabled>Choisir un genre</option>
            <option value="F"> Femme </option>
            <option value="M"> Homme</option>
        </select>

        <select  class="form-control" name="favbrand" id="brand">
            <option disabled value="">Choisir une marque</option>
            <% for (el of brands) { %>
                <option value="<%= el.id %>"><%= el.name %></option>
            <% } %>
        </select>

        <input type="submit" value="Valider" class="btn btn-primary" />
    </form>

    <h2 class="my-5">Historique des modifications</h2>

      <table class="table ">
        <thead class="thead-dark">
          <tr>
              <th scope="col">Marque</th>
              <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
            <% for (el of history) { %>
                <tr>
                    <td><%= el.brand.length > 0 && el.brand[0].name %></td>
                    <td><%= new Date(el.createdAt).toGMTString() %></td>
                </tr>
        
            <% } %>
        </tbody>
      </table>
   
    <script> 
        let brandSelector = document.querySelector("#brand");
        let genderSelector = document.querySelector("#gender");

        function setSelector(selector, selectedId) {

            let indexToSelect = Array.from( selector.options ).findIndex(opt => opt.value === selectedId);
            indexToSelect = Array.from( selector.options ).findIndex(opt => opt.value === selectedId);
            selector.options[indexToSelect].selected = true
        }

        setSelector(brandSelector, "<%= brand %>");
        setSelector(genderSelector, "<%= genre %>");


    </script>
</div>
<%- include('../footer.ejs') %>

</body>
</html>