<%- include('./header.ejs') %>
<body>
    <div class="container d-flex flex-column justify-content-center align-items-center">
    <% if (!error) { %>
        <h1 class="my-5">Welcome User: <%= user %> Gender: <%= gender %></h1>
    <%} else { %>
            <h1>Error <%= error %></h1>
    <% } %>

    <% if (success == 1) { %>
        <p style="font-weight: bold;">DATA ADDED !</p>
    <% } %>

    <% if (success === 0) { %>
        <p style="font-weight: bold;">ERROR!</p>
    <% } %>
  <h2>Add a user</h2>
    <form method="POST" action="/personne" class="d-flex flex-column justify-content-center" style="min-width: 400px;">
        <input class="form-control" type="text" name="username" placeholder="Nom.." />
        <select  class="form-control" name="genre">
            <option disabled>Choisir un genre</option>
            <option value="F"> Femme </option>
            <option value="M"> Homme</option>
        </select>

        <select  class="form-control" name="favbrand">
            <option disabled>Choisir une marque</option>
            <% for (el of brands) { %>
                <option value="<%= el.id %>"><%= el.name %></option>
            <% } %>
        </select>

        <input type="submit" value="Valider" class="btn btn-primary" />
    </form>

    <h2 class=" my-5">User list</h2>

    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Nom</th>
                <th>Genre</th>
                <th>Marque Favorites</th>
                <th>Supprimer</th>

            </tr>
        </thead>
        <% for (el of list) { %>
            <tr>
                <td><a href="/personne/<%= el.name %>"><%= el.name %></a></td>
                <td><%= el.genre %></td>
                <td><% if (el.brand.length > 0) { %> <%= el.brand[0].name %> <% } %> </td>
                <td><button class="btn btn-danger" onclick="deleteUser('<%= el.name  %>')">Supprimer</button></td>
            </tr>
        <% } %>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" onclick="getPrevPage()">Previous</a></li>
          <li class="page-item"><a class="page-link" onclick="getNextPage()">Next</a></li>
        </ul>
    </nav>
   
</div>

    <script>
        function getNextPage() {
            let currentPage = new URLSearchParams( window.location.search ).get("page") ?? 0;
            window.location.href = `/?page=${++currentPage}`
        }

        function getPrevPage() {
            let currentPage = new URLSearchParams( window.location.search ).get("page") ?? 0;
            if (currentPage > 0) window.location.href = `/?page=${--currentPage}`;
        }

        async function deleteUser(name) {
            try {
                let res = await fetch(`/personne/${name}`, { method: 'DELETE'} );
                let data = await res.json();
                res.status === 200 && await alert("User deleted successfully");
                await window.location.reload();
                
            } catch (e) {
                console.log(e);
                alert("Error occured: " + e);
            }
        }
    </script>
    </body>
</html>